@model IEnumerable<MovieZone.Models.MovieRental>

@{
    ViewData["Title"] = "Charts";
}

 <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Movie Rental Charts</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/Home">Home</a></li>
              <li class="breadcrumb-item active">Movie Rental Charts</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>




            <!-- AREA CHART -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Area Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="areaChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function() {

            var RentData = [];

            $.ajax({
                type: "POST",
                url: '/MovieRental/getData',
                error: function() {
                    $('#info').html('<p>An error has occurred</p>');
                },
                success: function(data) {
                    for (let i = 0; i < data.length; i++) {


                      var datum = 
                        {
                            User: data[i].user.fullName,
                            Movie: data[i].movie.title,
                            RentDate: data[i].movieRental.rentDate,
                            EndDate: data[i].movieRental.endDate,
                            Duration: data[i].movieRental.duration.totalDays,
                            TotalPrice: data[i].movieRental.totalPrice
                        };
                      RentData.push(datum);
                    };
                },
                type: 'GET'
            }).done(function() {
              generateChart();
            });

        function generateChart() {
            console.log(RentData.length);
            console.log(RentData);
            console.log(RentData[0]);
            //console.log(RentData[0].RentDate.substring(8, 9));

            // tạo mảng rentFrequency[30] với các phần tử bằng 0
            // duyệt qua mảng RentData, tách phần ngày trong RentDate rồi parse thành số int
            // rentFrequency[ngày] ++;
            
            rentFrequency= new Array();
            for (let d = 1; d <= 30; d++)
              rentFrequency[d] = Math.floor((Math.random() * 10) + 1);
            expiredFrequency= new Array();
            for (let d = 1; d <= 30; d++)
              expiredFrequency[d] = Math.floor((Math.random() * 10) + 1);

            //--------------
            //- AREA CHART -
            //--------------

            // Get context with jQuery - using jQuery's .get() method.
            var areaChartCanvas = $('#areaChart').get(0).getContext('2d')

            var areaChartData = {
                labels: [0, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20','21', '22', '23', '24', '25', '26', '27', '28', '29', '30'],
                datasets: [{
                    label: 'Digital Goods',
                    backgroundColor: 'rgba(60,141,188,0.9)',
                    borderColor: 'rgba(60,141,188,0.8)',
                    pointRadius: false,
                    pointColor: '#3b8bba',
                    pointStrokeColor: 'rgba(60,141,188,1)',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data: rentFrequency              /////////////////////////// fixed
                }, {
                    label: 'Electronics',
                    backgroundColor: 'rgba(210, 214, 222, 1)',
                    borderColor: 'rgba(210, 214, 222, 1)',
                    pointRadius: false,
                    pointColor: 'rgba(210, 214, 222, 1)',
                    pointStrokeColor: '#c1c7d1',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: expiredFrequency             /////////////////////////// fixed
                }, ]
            }

            var areaChartOptions = {
                maintainAspectRatio: false,
                responsive: true,
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false,
                        }
                    }]
                }
            }

            // This will get the first returned node in the jQuery collection.
            var areaChart = new Chart(areaChartCanvas, {
                type: 'line',
                data: areaChartData,
                options: areaChartOptions
            })
          }
            
        })
    </script>