@model List<MovieZone.ViewModels.MovieRentalViewModel>

@{
    ViewData["Title"] = "Index";
}
   
        <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Movie Rental</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/Home">Home</a></li>
              <li class="breadcrumb-item active">Movie Rental</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>




    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <button id="action-button" onclick="ajaxData()">Ajax</button>
    
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.User.FullName) *@
                User
            </th>
            <th>
                Movie Title
            </th>
            <th>
                Rent Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Duration
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody id="info">

    </tbody>
</table>


    <script type="text/javascript">

    function ajaxData() {
            $.ajax({
                type: "POST",
                url: '/MovieRental/getData',
                //data: {
                    //format: 'object'
                //},
                error: function() {
                    $('#info').html('<p>An error has occurred</p>');
                },
                success: function(data) {
                    for (let i = 0; i < data.length; i++) {
                    // đã nhận được data từ controller, tiến hành parse dữ liệu
                        console.log(data[i]);
                        console.log(data[i].movieRental.duration.Days);
                        var $fullName = $('<td>').text(data[i].user.fullName);
                        var $movieTitle = $('<td>').text(data[i].movie.title);
                        var $rentDate = $('<td>').text(data[i].movieRental.rentDate);
                        var $endDate = $('<td>').text(data[i].movieRental.endDate);
                        var $duration = $('<td>').text(data[i].movieRental.duration.totalDays);
                        var $totalPrice = $('<td>').text(data[i].movieRental.totalPrice);
                       
                        $('#info')
                        .append($('<tr>')
                            .append($fullName)
                            .append($movieTitle)
                            .append($rentDate)
                            .append($endDate)
                            .append($duration)
                            .append($totalPrice)
                        );                          
                    };
                },
                type: 'GET'
            });
        };
    </script>